@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
  
  sidebtn{
      background-color: #076df2;
  }
}
@media screen and (min-width:1041px){
  .searchicon{
    display: none;
  }
  .menuicon{
    display: none;
 }
 .slideback{
  display: none;
}
.sidenav{
  display: none;
}

}
@media screen and (max-width:1040px) {

 .menu{
  display: none;
 }
 .inputback{
  display: none;
 }
 
 
  .navback{
    box-shadow: 0px 2px 3px rgba(173, 216, 230, 0.742);
    
  }
  
}
.sidenav{
  border-radius: 0px 0px 10px 0px;
  box-shadow: 0px 0px 5px 2px rgba(173, 216, 230, 0.676);
  position: absolute;
  z-index: 2;
}

.intext:hover{
  color: white;
  background-color: #3889f290;
   transition: 0.3s;
}

.sidebtn{
  background:white;
  border-radius:0px 10px 0px 10px;
  box-shadow: 0px 3px 5px 2px lightblue;
  transition: 0.3s;
}
.sidebtn:hover{
  transform: scale(1.1);
}
.exclusive{
  background: #3889F2;
}
.inputback{
  border: 2px solid rgb(255, 255, 255);
  padding:5px 6px 5px 6px;
  width: 270px;
  border-radius: 10px;
}
.searchbar{
  width: 120px;
  outline: none;
  font-size: 12px;
  color: white;
  background-color: transparent;
}

.searchbar::placeholder{
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.navback{
  background-color: #0554F2;
}
.info{
  color: white;
  padding: 5px;
}
.info:hover{
  border-bottom: 2px solid rgba(255, 255, 255, 0.555);
  
 
}
.banner{
  position:;
  z-index: -1;
}
.slides{
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  
}

.prev ,.next{
  width: 2rem;
  justify-content: center;
  display: flex;
  color: white;
}
::-webkit-scrollbar{
  display: none;
}
.addtocart-btn{
  background-color:#3889f2d5;
  color: white;
  box-shadow: 0px 2px 5px 1px lightblue;
}
.cardback{
  box-shadow: 0px 2px 5px 1px lightblue;
   padding: 10px;
}
.banner{
  background-color: #f2f2f2;
}
.ban{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerback{
  background-color: #0554F2;
}