@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  margin: 0 auto;
}
@media screen and (min-width:1024px){
  .searchicon{
    display: none;
  }
  .menuicon{
    display: none;
 }
}
@media screen and (max-width:1024px) {

 .menu{
  display: none;
 }
 .inputback{
  display: none;
 }
 
 
  .navback{
    box-shadow: 0px 2px 3px rgba(173, 216, 230, 0.742);
    
  }
}
.exclusive{
  background: #3889F2;
}
.inputback{
  border: 2px solid rgb(255, 255, 255);
  padding:5px 6px 5px 6px;
  width: 280px;
}
.searchbar{
  width: 120px;
  outline: none;
  font-size: 12px;
  background-color: transparent;
}
.searchbar::placeholder{
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.navback{
  background-color: #0554F2;
}
.info{
  color: white;
}
